# @package _global_

defaults:
  - /habitat: habitat_config_base
  - /habitat/task: objectnav
  - /habitat/simulator/sensor_setups@habitat.simulator.agents.main_agent: semantic_agent
  - /habitat/dataset/objectnav: procthor-hab
  - _self_

habitat:
  environment:
    max_episode_steps: 500

  simulator:
    scene_dataset: "data/scene_datasets/ai2thor-hab/ai2thor-hab/ai2thor-hab.scene_dataset_config.json"
    navmesh_include_static_objects: True
    turn_angle: 30
    agents:
      main_agent:
        sim_sensors:
          semantic_sensor:
            width: 640
            height: 480
            hfov: 79
            position: [0, 0.88, 0]
        height: 0.88
        radius: 0.18
    habitat_sim_v0:
      gpu_device_id: 0
      allow_sliding: False
