objects:
  - name: hab2|0
    expr_type: rigid_obj_type
  - name: TARGET_hab2|0
    expr_type: goal_type
  - name: robot_0
    expr_type: robot_type

stage_goals:
  stage_0_5:
    expr_type: AND
    sub_exprs:
      - holding(hab2|0, robot_0)
  stage_1:
    expr_type: AND
    sub_exprs:
      - at(hab2|0,TARGET_hab2|0)

init: []

goal:
  expr_type: AND
  sub_exprs:
    - at(hab2|0,TARGET_hab2|0)

solution:
  - nav(hab2|0, robot_0)
  - pick(hab2|0, robot_0)
  - nav(TARGET_hab2|0, robot_0)
  - place(hab2|0,TARGET_hab2|0, robot_0)
