.idea
.DS_Store
.vscode
*.swp
*.code-workspace
debug/
build/
dist/
datasets/
.mypy_cache/
.pytest_cache/
__pycache__/
*.egg-info/
expts/
*.ipynb_checkpoints
examples/*.ipynb_checkpoints
outputs/
examples/outputs/
theseus/extlib/*.so
datasets/
data/
temp/
scripts/
docs_build/
viz/
