habitat_baselines:
  # some defaults for interactive HITL applications
  evaluate: True
  num_environments: 1

habitat_hitl:
  window:
    # title displayed in application title bar GUI
    title: "Habitat HITL Application"
    # Horizontal resolution of the window.
    width: 1280
    # Vertical resolution of the window.
    height: 720

  # Target rate to step the environment (steps per second); actual SPS may be lower depending on your hardware
  target_sps: 30

  # Episodes filter in the form '0:10 12 14:20:2', where single integer number (`12` in this case) represents an episode id, colon separated integers (`0:10' and `14:20:2`) represent start:stop:step ids range.
  episodes_filter: ~

  experimental:
    # Choose between classic and batch renderer. This is an experimental feature aimed at those of us building the batch renderer.
    use_batch_renderer: False
    headless:
      # Run without a GUI window. For unit-testing or use with remote_gui_mode as a headless server.
      do_headless: False
      # Shortly after app startup, write debug images from the first K steps to video files. See debug_third_person_viewport and debug_images.
      debug_video_writer:
        num_frames_to_save: 0
        filepath_base: "./debug_video"
      # force app exit after K steps
      exit_after: ~

  # Disable policy-initialization and environment-stepping. Useful for testing on lower-power machines.
  disable_policies_and_stepping: False

  debug_third_person_viewport:
    # If specified, enable the debug third-person camera (habitat.simulator.debug_render) with specified viewport width. If height (below) is not specified, assume square aspect ratio (height==width). This is considered an additional debug image (see also debug_images below).
    width: ~
    # If specified, use the specified viewport height for the debug third-person camera.
    height: ~

  # Visualize camera sensors in the app GUI. For example, to visualize agent1's head depth sensor, include "agent_1_head_depth" in this list.
  debug_images: []

  # The speed of the default animation timer. See app_service.get_anim_fraction. Currently used to animate some debug lines.
  viz_animation_speed: 2.0

  # Hide the humanoid in the GUI viewport. Note it will still be rendered into observations fed to policies. Mainly used for camera first-person mode (below).
  hide_humanoid_in_gui: False

  # Object grasp/place proximity threshold. See GuiPickHelper.
  can_grasp_place_threshold: 1.2

  # See GuiHumanoidController.
  walk_pose_path: "data/humanoids/humanoid_data/walking_motion_processed_smplx.pkl"

  # When enabled, a HITL app behaves as a server that takes input from a remote client.
  # See pick_throw_vr example app.
  remote_gui_mode: False

  camera:

    # See CameraHelper. Set first_person_mode=True, or False to use third-person mode. With first-person mode, use  `max_look_up_angle` and `min_look_down_angle` arguments to limit humanoid's look up/down angle. For example, `--max-look-up-angle 0 --min-look-down-angle -45` to let the humanoid look down -45 degrees. You should also generally use `hide_humanoid_in_gui=True` with `first_person_mode`, because it doesn't make sense to visualize the humanoid with this camera. For first-person mode, you should also set gui_controlled_agent.ang_speed=300 to avoid delayed movement after turning.
    first_person_mode: False
    max_look_up_angle: 15.0
    min_look_down_angle: -60.0

  gui_controlled_agent:
    # GUI-controlled agent index (must be None or >= 0 and < number of agents). Defaults to None, indicating that all the agents are policy-controlled.
    agent_index: ~
    # linear speed
    lin_speed: 10.0
    # angular speed
    ang_speed: 10.0

  data_collection:
    # Filepath base used for saving various session data files, e.g. `my_output/my_session`. Specify a full path including basename, but not an extension.
    save_filepath_base: None

    # Save recorded episode data to file. Use save_filepath_base (above) to specify the filepath base. The first episode will be saved as `my_output/my_session.0.json.gz` and `my_output/my_session.0.pkl.gz`. These files contain mostly-identical data; we save both so that developers have two choices for how to consume the data later. The second episode will be saved as `my_session.1.json.gz`, etc. For an example of consuming this data, see `test_episode_save_files.py` .
    save_episode_record: False

    # Save the gfx-replay keyframes to file. Use save_filepath_base to specify the filepath base. Gfx-replay files can be used elsewhere in Habitat, e.g. https://github.com/facebookresearch/habitat-lab/pull/1041. Capturing ends (is saved) when the session is over (pressed ESC). The file will be saved as `my_output/my_session.gfx_replay.json.gz`.
    save_gfx_replay_keyframes: False
