# For more info about Hydra in Habitat, see habitat-lab/habitat/config/README.md
# @package _global_

habitat_hitl:
  driver: "SimDriver"
  disable_policies_and_stepping: True


  ######################
  # Windowing setup:
  # Choose to open a HitL display (default) or instead open the Isaac Sim viewer
  # For Isaac Sim viewer uncomment the following block and comment the "window" block below

  # experimental:
  #   headless:
  #     do_headless: True
  # window: ~

  window:
    title: "IsaacSim Robot Teleop Viewer"
    # width: 1920
    # height: 1080
    width: 960
    height: 600
    display_font_size: 24
  ######################

  networking:
    enable: True
    max_client_count: 1
    http_availability_server:
      enable: False
    enable_connections_by_default: True
    client_sync:
      server_camera: False
      server_input: True
      skinning: True

isaac_robot_teleop:
  draw_debug_shapes: True
  camera_move_speed: 0.1
  lock_pc_camera_to_robot: True
  #optionally force the initial state of the robot (will be snapped to namvmesh)
  #NOTE: these values initialize in the kitchen for scene 103997403_171030405
  #initial_robot_position: [-11.4, 0, -3.2]
  #initial_robot_rotation: -1.7 # [-pi, pi]

  #relative paths to the directories containing navmeshes and usd scene files
  usd_scene_path: "../../../data/usd/scenes/"
  navmesh_path: "data/hssd-hab/navmeshes/"
  #scene_name: "103997970_171031287_0" #round table
  #scene_name: "104348133_171513054_9" #lone counter with stools
  #scene_name: "104862660_172226844_9" #kitchen with table
  #scene_name: "106878945_174887058_5" #living room with kitchen counter included
  #scene_name: "102344193_7" #kitchen with counter (open windows)
  scene_name: "104348133_171513054_8" #kitchen counter with two halves, 35 inch surface height

  #Fremont option
  #scene_name: "fremont_dynamic_alternate_handles"
  #navmesh_path: "data/Fremont-Knuckles/navmeshes/"

  # OR initialize by episode. These will take precedent when provided
  #episode_dataset: "data/datasets/hitl_teleop_episodes.json.gz"
  episode_dataset: "data/datasets/hitl_teleop_demo_episodes.json.gz"
  episode_index: 0

  #physx configuration settings
  #applied to all rigid objects added to the scene (e.g. from Episodes)
  object_static_friction: 20
  object_dynamic_friction: 20
  object_restitution: 0
  #applied to the contents of the scene (architecture, furniture, etc...)
  stage_static_friction: 10
  stage_dynamic_friction: 10
  stage_restitution: 0


defaults:
  # Load default parameters for the HITL framework. See
  # habitat-hitl/habitat_hitl/config/hitl_defaults.yaml.
  - hitl_defaults
  - _self_
