# For more info about Hydra in Habitat, see habitat-lab/habitat/config/README.md
# @package _global_

#################################
# Replay Episode Record config:
# Tl;DR: use this config to replay a recorded set of frames from data collection.
#################################

habitat_hitl:
  driver: "SimDriver"
  disable_policies_and_stepping: True


  ######################
  # Windowing setup:
  # Choose to open a HitL display (default) or instead open the Isaac Sim viewer
  # For Isaac Sim viewer uncomment the following block and comment the "window" block below

  # experimental:
  #   headless:
  #     do_headless: True
  # window: ~

  window:
    title: "IsaacSim Robot Teleop Viewer"
    width: 960
    height: 600
    display_font_size: 24
  ######################

  networking:
    enable: True
    max_client_count: 1
    http_availability_server:
      enable: False
    enable_connections_by_default: True
    client_sync:
      server_camera: False
      server_input: True
      skinning: True

isaac_robot_teleop:
  ######################
  # Settings relevant for episode replay only
  replay_mode: True
  replay_speed: 1
  #if true, looping is off and video is recorded from 3rd person perspective
  record_video: False
  video_prefix: "video_out"
  # The episode record's .json.gz file

  #NOTE: the local output directory
  episode_record_filepath: 'hitl_output_18000/0.json.gz'
  #NOTE: example of a data dump from collectors
  #episode_record_filepath: '../teleop_data/data_collection_29/rollout1/1751235854_0738/19.json.gz'
  # This must be the same as used by the recorded session.
  # See session.json.gz ["session"]["config"]["isaac_robot_teleop"]["episode_dataset"]
  episode_dataset: "data/datasets/hitl_teleop_episodes_single_region_scenes.json.gz"
  # episode_index: will come from the episode
  # scene_name: will come from the episode

  ######################

  draw_debug_shapes: True
  camera_move_speed: 0.1
  lock_pc_camera_to_robot: True
  lock_orientation_to_robot: True
  cam_zoom_distance: 1.0
  hide_gui: True
  hide_debug_lines: True
  #local camera offset in replay mode from robot.
  replay_camera_look_at: [1.0,0,1.014]
  replay_camera_look_from: [0.212,0,1.014] #from the approximate torso camera height
  #replay_camera_look_from: [0.45,1.0,1.1] #from the left side
  #optionally force the initial state of the robot (will be snapped to namvmesh)
  #NOTE: these values initialize in the kitchen for scene 103997403_171030405
  #initial_robot_position: [-11.4, 0, -3.2]
  #initial_robot_rotation: -1.7 # [-pi, pi]

  #relative paths to the directories containing navmeshes and usd scene files
  usd_scene_path: "../../../data/usd/scenes/"
  navmesh_path: "data/hssd-hab/navmeshes/"
  scene_name: "108736635_177263256"

  #Fremont option
  #scene_name: "fremont_dynamic_alternate_handles"
  #navmesh_path: "data/Fremont-Knuckles/navmeshes/"

  # OR initialize by episode. These will take precedent when provided
  #episode_dataset: "data/datasets/hitl_teleop_episodes.json.gz"
  #episode_dataset: "data/datasets/hitl_teleop_episodes_220.json.gz"
  #episode_index: 0

  #physx configuration settings
  #applied to all rigid objects added to the scene (e.g. from Episodes)
  object_static_friction: 20
  object_dynamic_friction: 20
  object_restitution: 0
  #applied to the contents of the scene (architecture, furniture, etc...)
  stage_static_friction: 10
  stage_dynamic_friction: 10
  stage_restitution: 0

defaults:
  # Load default parameters for the HITL framework. See
  # habitat-hitl/habitat_hitl/config/hitl_defaults.yaml.
  - hitl_defaults
  - _self_
