# Copyright (c) Meta Platforms, Inc. and affiliates.
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

graft habitat/config
graft habitat/utils/visualizations/assets
graft habitat/tasks/rearrange/multi_task/domain_configs
graft habitat/datasets/rearrange/configs
include habitat/py.typed
include requirements.txt
