<?xml version="1.0"?>
<robot name="simple_table">

	<material name="color">
		<color rgba="0.082 .69 .10 1"/>
	</material>

	<link name="base_link">
		<visual>
			<geometry>
				<box size="0.05 0.05 0.05"/>
			</geometry>
			<material name="color"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.05 0.05 0.05"/>
			</geometry>
		</collision>
	</link>
</robot>
