<?xml version="1.0"?>

<launch>

  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <param name="/use_sim_time" value="false"/>

  <!-- <node pkg="rviz" type="rviz" name="rviz" -->
  <!--   args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/> -->

  <include file="stretch_hector_mapping.launch"/>

  <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

</launch>
