<?xml version="1.0"?>
<launch>
  	<!--param name="robot_description" textfile="$(find home_robot)/assets/planner.urdf" /-->
	<node pkg="rviz" type="rviz" name="rviz" 
		args="-d $(find home_robot)/launch/data_collection.rviz"/>
	<!-- This is a bad idea for now - do not use it yet -->
	<!-- node pkg="home_robot" type="rotate_images.py" name="rotate_images_from_stretch_head"/ -->
	<node pkg="home_robot" type="interactive_marker.py" name="data_annotation_marker"
	      output="screen" required="true"/>
</launch>
