# Copyright (c) Meta Platforms, Inc. and affiliates.
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

include habitat_baselines/py.typed
recursive-include habitat_baselines requirements.txt
