# @package _global_

defaults:
  - language_rearrange
  - hitl_defaults
  - dataset
  - _self_

habitat_baselines:
  # todo: document these choices
  eval:
    should_load_ckpt: False
  rl:
    agent:
      num_pool_agents_per_type: [1, 1]
    policy:

habitat_hitl:
  window:
    title: "Rearrange"
    width: 1300
    height: 1000
  gui_controlled_agents:
    - agent_index: 0
      lin_speed: 10.0
      ang_speed: 300
  hide_humanoid_in_gui: False
  can_grasp_place_threshold: 2.0
  camera:
    first_person_mode: True
  networking:
    client_sync:
      server_camera: False
      server_input: False
    client_max_idle_duration: 180.0
    enable_connections_by_default: False
