# @package _global_

defaults:
  - language_rearrange_multi_agent
  - hitl_defaults
  - content
  - _self_

habitat:
  # various config args to ensure the episode never ends
  environment:
    max_episode_steps: 0
    # Ensure that the episode iterator can be controlled by specifying episode IDs.
    iterator_options:
      max_scene_repeat_steps: -1
      max_scene_repeat_episodes: -1
      shuffle: False
      group_by_scene: False

habitat_baselines:
  # todo: document these choices
  eval:
    should_load_ckpt: False
  rl:
    agent:
      num_pool_agents_per_type: [1, 1]
    policy:

habitat_hitl:
  window:
    title: "Rearrange"
    width: 1300
    height: 1000
  gui_controlled_agents:
    - agent_index: 0
      lin_speed: 10.0
      ang_speed: 300
    - agent_index: 1
      lin_speed: 10.0
      ang_speed: 300
  hide_humanoid_in_gui: False
  can_grasp_place_threshold: 2.0
  camera:
    first_person_mode: True
  networking:
    client_sync:
      server_camera: False
      server_input: False
    client_max_idle_duration: 180.0
    enable_connections_by_default: False
