# @package _global_

defaults:
  - language_rearrange_multi_agent
  - hitl_defaults
  - _self_

habitat:
  # various config args to ensure the episode never ends
  environment:
    max_episode_steps: 0
    iterator_options:
      # For the demo, we want to showcase the episodes in the specified order
      shuffle: False
      max_scene_repeat_steps: -1
      max_scene_repeat_episodes: -1
      group_by_scene: False

habitat_baselines:
  # todo: document these choices
  eval:
    should_load_ckpt: False
  rl:
    agent:
      num_pool_agents_per_type: [1, 1]
    policy:

habitat_hitl:
  remove_visual_sensors: True
  remove_gui_sensors: True
  window:
    title: "Rearrange"
    width: 1300
    height: 1000
  gui_controlled_agents:
    - agent_index: 0
      lin_speed: 10.0
      ang_speed: 300
    - agent_index: 1
      lin_speed: 10.0
      ang_speed: 300
  hide_humanoid_in_gui: False
  camera:
    first_person_mode: True
  networking:
    client_sync:
      server_camera: False
      server_input: False
    client_max_idle_duration: 180.0
